version: "3.8"

services:
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    restart: always
    ports:
      - "3002:3001"
    volumes:
      - ./uptime-kuma-data:/app/data
  backend:
    image: cloud-campus-backend
    container_name: cloud-campus-api
    build: .
    ports:
      - "3001:5000"
    env_file:
      - .env
    restart: unless-stopped
