name: CI/CD - Cloud Campus Backend

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Installation des dépendances
        run: npm install

      - name: Lancer les tests (placeholder)
        run: |
          echo "Aucun test défini pour l'instant"
          # npm test

  docker:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Connexion à Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Définir les métadonnées de l'image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: redgi/cloud-campus-backend
          tags: |
            type=ref,event=branch
            type=sha

      - name: Build & Push de l'image Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
